In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('Messy_Employment_India_Dataset.csv')
df1=df.copy()

In [ ]:
df.head(50)

In [4]:
df1['Status']=(df1['Status'].str.strip().str.lower())

In [ ]:
df1.head(50)

In [11]:
print(df1.isnull().sum())

Status                   268
Age Group                232
Education                196
Industry                 201
Location                 213
AI Risk                  284
Years of Experience     1020
Monthly Salary (INR)     387
Date Recorded              0
dtype: int64

In [7]:
# filling missing value with unknown in status column
df1=df1.dropna(subset=['Status'])
# now with the help of onehotencoder i will divide it into 3 cloumn into employed unemployed and unknown

In [ ]:
df1.head(50)